 <!-- 1st Comment -->

<!-- <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="~{normal/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title th:text="title"></title>
</head>
<body>

<section>
      <div class="card mr-3">
      <div class="card-body">
      <h1 class="text-center">Add Contact</h1>
      <div class="container-fluid mt-1">
      <div class="row">
      <div class="col-md10 offset-mt-1">
      <form action="#" 
      th:object="${contact}"
      enctype = "multipart/form-data"
      method ="post"
       th:action = "@{/user/process-contact}" 
      class="mt-2"
      >
      First-Name
      <div class="input-group">
       <div class="input-group-prepend">
          <div class="input-group-text mr-3">
               <i class ="fa fa-plus"></i>
          </div>
       </div>
         <input 
         type="text" 
         id= "firstname" 
         name = "name" 
         placeholder= "Enter Name Here" 
         class="form-control" />
       
      </div>
      
      
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
</section>

<section>
  <div class="card mx-5 my-1">
    <div class="card-body">
      <h1 class="text-center">Add Contact</h1>
      <div class="container-fluid mt-3">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <form action="#" 
                  th:object="${contact}" 
                  enctype="multipart/form-data" 
                  method="post" 
                  th:action="@{/user/process-contact}" 
                  class="mt-4">
              
              First-Name
              <div class="form-group">
                <label for="firstname" class="font-weight-bold">First Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input 
                    type="text" 
                    id="firstname" 
                    name="name" 
                    placeholder="Enter Name Here" 
                    class="form-control" 
                    required />
                </div>
              </div>
              
              Nick-Name
              <div class="form-group">
                <label for="nickname" class="font-weight-bold">Nick Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input 
                    type="text" 
                    id="nickname" 
                    name="nickName" 
                    placeholder="Enter Nick Name Here" 
                    class="form-control" 
                    required />
                </div>
              </div>

              Email
              <div class="form-group">
                <label for="email" class="font-weight-bold">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="Enter Email Here" 
                    class="form-control" 
                    required />
                </div>
              </div>

              Phone
              <div class="form-group">
                <label for="phone" class="font-weight-bold">Phone Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-phone"></i>
                    </span>
                  </div>
                  <input 
                    type="tel" 
                    id="phone" 
                    name="phone" 
                    placeholder="Enter Phone Number" 
                    class="form-control" />
                </div>
              </div>
              
              Work
              <div class="form-group">
                <label for="work" class="font-weight-bold">Work</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-briefcase"></i>
                    </span>
                  </div>
                  <input 
                    type="text" 
                    id="work" 
                    name="work" 
                    placeholder="Enter Work Here" 
                    class="form-control" />
                </div>
              </div>
              
              
               Contact Description
              <div class="form-group">
                <textarea placeholder = "Enter Contact Description"name="description" id="description" class="form-control" rows="10"></textarea>
              </div>
              
              
              Contact Image
              <div class="custom-file">
                <label for="image" class="font-weight-bold">Profile Image</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-image"></i>
                    </span>
                  </div>
                  <input 
                    type="file" 
                    id="image" 
                    name="image" 
                    
                    />
                </div>
              </div>
              

              Submit Button
              <div class="text-center mt-4">
                <button type="submit" class="btn bg-primary w-100 text-white">
                  <i class="fa fa-plus"></i> Add Contact
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

	
</body>
</html> -->

<!-- 2nd COmment -->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
  <meta charset="UTF-8" />
  <title th:text="title"></title>
</head>
<body>

<section>
  <div class="card mx-5 my-1">
    <div class="card-body">
      <h1 class="text-center">Your Profile Settings</h1>
      <div class="container-fluid mt-3">
        <div class="row justify-content-center">
          <div class="col-md-8">
          
        <!--  message box -->
          <div class="container">
    <div th:if="${session.message}" 
         th:classappend="'alert-' + ${session.message.type}" 
         class="alert text-center" 
         role="alert"
         id="message-box">
        <span th:text="${session.message.content}"></span>
    </div>
   <!-- JavaScript to remove the message after showing it -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const messageBox = document.getElementById('message-box');
            if (messageBox) {
                // Remove the message element after 3 seconds
                setTimeout(() => {
                    messageBox.remove();
                }, 3000);
            }
        });
    </script>

</div>

          
            <form th:action="@{/user/process-settings-update}" 
            th:object="${user}" 
            method="POST" 
            enctype="multipart/form-data"
            class ="mt-2"
            >
            
             <!--  contact id -->
             
             <input th:value="${user.id}" type="hidden" name ="id"/>

              
              <!-- First-Name -->
              <div class="form-group">
                <label for="firstname" class="font-weight-bold">First Name</label>
                <input th:value="${user.name}"  type="text" id="firstname" name="name" placeholder="Enter Name Here" class="form-control" required />
              </div>

             <!-- <!--  Nick-Name (Fix name attribute)
              <div class="form-group">
                <label for="nickname" class="font-weight-bold">Nick Name</label>
                <input th:value="${user.nickName}" type="text" id="nickname" name="nickName" placeholder="Enter Nick Name Here" class="form-control" required />
              </div> --> 

             <!--  Email -->
              <div class="form-group">
                <label for="email" class="font-weight-bold">Email</label>
                <input th:value="${user.email}"  type="email" id="email" name="email" placeholder="Enter Email Here" class="form-control" required />
              </div>

           <!-- Password -->
            <div class="form-group">
            <label for="password" class="font-weight-bold">Password</label>
            <div class="input-group">
                <input 
             th:value="${user.password}" 
             type="password" 
             id="password" 
             name="password" 
      placeholder="Enter Password" 
      class="form-control" 
      required 
      maxlength="10"
    />
    <div class="input-group-append">
      <button 
        class="btn btn-outline-secondary" 
        type="button" 
        id="togglePassword" 
        style="cursor: pointer;">
        <i class="fa fa-eye" id="eyeIcon"></i>
      </button>
    </div>
  </div>
</div>
              
              <!-- Role -->
              <div class="form-group">
                <label for="work" class="font-weight-bold">Work</label>
                <input th:value="${user.role}" type="text" id="work" name="work" placeholder="Enter Work Here" class="form-control" required />
              </div>
              
             <!--  User Description -->
              <div class="form-group">
                <textarea th:text="${user.about}"  id="mytextarea" placeholder="Enter User Description" name="about"  class="form-control" rows="5"></textarea>
              </div>
              
              <!-- <!-- Contact Image (File Input) -->
              <div class="container text-center">
              <img style="width:150px;height :150px;" class="my_profile_picture" src="" th:src="@{'/img/' + ${user.imageUrl}}" alt="" />
              </div>
              
              <p class="text-bold">Choose New Profile Picture</p>
              
             <div class="form-group">
               <label for="image" class="font-weight-bold">Profile Image</label>
               <input th:value="${user.imageUrl}" type="file" id="image" name="profileImage" class="form-control" />
             </div>

             <!--  Submit Button -->
              <div class="text-center mt-4">
                <button type="submit" class="btn bg-primary w-100 text-white">
                  <i class="fa fa-plus"></i> Update User Settings
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/9bqsg5db5oqn0hyirud5049n07ag7690c6lacut57dnaw37o/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
tinymce.init({
	  selector: '#mytextarea',
	  plugins: [
	    'autolink', 'lists', 'link', 'charmap', 'visualblocks', 'code', 'table', 'wordcount', 'media', 'image', 'searchreplace'
	  ],
	  toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | numlist bullist outdent indent | link image media table | removeformat',
	  tinycomments_mode: 'embedded',
	  tinycomments_author: 'Author name'
	});

</script>

<!-- JavaScript for Show/Hide Password -->
<script>
  document.getElementById('togglePassword').addEventListener('click', function (e) {
    const passwordField = document.getElementById('password');
    const eyeIcon = document.getElementById('eyeIcon');

    // Toggle the type attribute
    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordField.setAttribute('type', type);

    // Toggle the eye icon
    eyeIcon.classList.toggle('fa-eye-slash');
  });
</script>

</section>

</body>
</html> 

 

