<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title ></title>
	<!-- <link rel="stylesheet" href="/css/style.css" /> -->
</head>
<body>
    <section class = "banner d-flex justify-content-center align-items-center ">
    <div>
    <h1 class="font-weight-bold text-center text-white">Smart Contact Manager </h1>
    <p class="text-white text-center">
    Your Ultimate Tool for Effortless Contact Organization and Seamless Connectivity!
    </p>
    <div style="text-align: center;">
  <button class="btn bg-primary btn-lg text-white">Get Started</button>
    </div>

    </div>
    </section>
	
</body>
</html>